.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.artImageCard {
  min-width: 95px;
  min-height: 95px;
  max-width: 96px;
  max-height: 96px;
  border-radius: 0.5em;
}
.artImage {
  width: 10%;
  height: 10%;
}
.nav-item a {
  font-size: 11px;
}
.over {
  overflow: scroll;
  min-height: 100vh;
  max-height: 100vh;
}
artImageCard {
  min-width: 95px;
  min-height: 95px;
  max-width: 96px;
  max-height: 96px;
  border-radius: 0.5em;
}
artImage {
  width: 10%;
  height: 10%;
}
.sidebar {
  font-size: 0.7em;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  width: 120px !important;
  min-height: 100vh !important;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  padding: 0 !important;
}
.sidebar-sticky {
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: #1d43d8;
}
.sidebar-sticky img {
  width: 20%;
  height: 20%;
}
.sidebar-sticky p {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 0.5em;
}
#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
.nav-link {
  color: #dbeafe !important;
  padding-block: 1.5em !important;
  font-weight: bold;
  margin-block: 0.5em;
}
.nav-item .active {
  background-color: #1d43d8 !important;
  margin-inline: 1em !important;
  border-radius: 0.5em;
}
.nav-link:hover {
  background-color: #1d43d8;
  border-radius: 0.5em;
  margin-inline: 1em !important;
}
.navs {
  text-decoration: none !important;
}
.navs p {
  margin: 0;
  font-weight: 500;
  text-align: center;
  color: #5c757d;
}
.navs p:hover {
  color: #555;
  border-bottom: 3px solid #5c757d;
}

.navsActive {
  color: #0d6efd !important;
  border-bottom: 3px solid #0d6efd !important;
}

.justify-content-between .btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
#imgname {
  border: none;
}
.artImageHistory {
  width: 60px !important;
  height: 60px !important;
}
.delete {
  --tw-bg-opacity: 1;
  background-color: rgb(252 231 243 / var(--tw-bg-opacity));
  cursor: pointer;
}
.delete i {
  --tw-text-opacity: 1;
  color: rgb(190 24 93 / var(--tw-text-opacity));
}
.delete:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(251 207 232 / var(--tw-bg-opacity));
}
body::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}

::-webkit-scrollbar {
  width: 6px;
  border-left: 0px solid #e6ecf8;
}
::-webkit-scrollbar-thumb {
  background-color: #dbeafe;
}
.inputborder {
  border: none !important;
}
.form-control:focus {
  color: inherit !important;
}
#artnav {
  width: 58.4vw;
  background-color: #ffffff;
}
@media (max-width: 1000px) {
  #artbar {
    display: none;
  }
  #traits {
    display: none;
  }
  #artgenerate {
    width: 87vw;
  }
  #artnav {
    width: 87vw;
  }
}
.cards {
  cursor: pointer;
  border-radius: 10px;
}
#save {
  margin-right: 20px !important;
}
input {
  outline: 0px !important;
}
b {
  font-weight: 500;
}
a {
  text-decoration: none !important;
}
.bg-white {
  background-color: #ffffff;
}
.bg-blues {
  background-color: #d5e7fe !important;
}
.bg-whites {
  background-color: #f9fafb;
}
.configure {
  width: 600px !important;
  height: 500px;
  margin-top: 150px;
}
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}
.height-50p {
  height: 50px;
}
.width-25p {
  width: 25px;
}
.height-25p {
  height: 25px;
}
.height-200p {
  height: 200px;
}
.height-92 {
  height: 92vh;
}
.height-76p {
  height: 76px;
}
.width-500p {
  width: 500px !important;
}
.height-500p {
  height: 500px;
}
.width-18 {
  width: 18vw;
}
.controlgen {
  width: 58.4vw;
  margin-block: 76px !important;
}
.mt-130p {
  margin-top: 130px;
}
.width-58 {
  width: 58.4vw;
}
.cursor-p {
  cursor: pointer;
}
.height-50 {
  height: 50vh;
}
.width-200p {
  width: 200px;
}
.width-800p {
  width: 800px !important;
}
.width-100p {
  width: 100px;
}
.height-66p {
  height: 66px;
}
.width-60p {
  width: 60px;
}
.height-60p {
  height: 50px;
}
.ms-200p {
  margin-left: 200px;
}
.border-dash {
  border: 2px dashed #dee2e6 !important;
}
.border-dash:hover {
  border-color: #6b7280 !important;
}
.upload-padding {
  padding-inline: 15px;
  padding-block: 11px;
}
.folder-padding {
  padding-top: 15px;
  padding-bottom: 11px;
  padding-left: 13px;
  padding-right: 9px;
}
